.hero-section {
    height: 100vh;
    background-image: url('/src/assets/law3.jpg'); 
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  .hero-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hero-content {
    text-align: center;
    color: white;
  }
  
  .hero-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  }
  
  .hero-content p {
    font-size: 18px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  }
  
  .btn-primary {
    background-color: red;
    color: white;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 16px;
  }
  