@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #161D6F;
    padding: 1rem;
  }
  
  .navbar-logo {
    display: flex;
    align-items: center;
  }
  
  .navbar-logo h2 {
    color: white;
    margin-left: 10px;
    font-size: 1.3rem;
    font-family: "Cinzel", serif;
  }
  
  .law-icon {
    color: #f0a500;
    font-size: 32px;
  }
  
  .navbar-links {
    display: flex;
    list-style-type: none;
  }
  
  .navbar-links li {
    margin-right: 30px;
    text-align: center;
  }
  
  .navbar-links a {
    color: white;
    text-decoration: none;
    display: block;
    margin-top: 5px;
    font-weight: bold;
  }
  
  .nav-icon {
    color: white;
    font-size: 18px;
  }
  
  .navbar-contact .btn-contact {
    background-color: #f0a500;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
  }
  
  .navbar-contact .btn-contact:hover {
    background-color: #d48d00;
  }
  @media (max-width: 771px) {
    .navbar {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }}
    @media (max-width: 375px) {
        .navbar {
          padding: 10px; /* Adjust padding for small screens */
        }
      
        .navbar-logo h2 {
          font-size: 16px; /* Even smaller font size for very small screens */
        }
      
        .navbar-links a {
          font-size: 12px; /* Make the nav links smaller */
        }
      
        .navbar-contact .btn-contact {
          font-size: 10px; 
          padding: 6px 10px; 
        }}
  